/*Product Page*/
/* Grid for side by side thing */
.gridbox {
    max-width: 1280px;
    display: flex;
    gap: 1vw;
  }

  .bevgridimg {
    max-width: 25vw;
    height: auto;
    margin-left: 1.0vw;
    margin-top: 5vw;
  }
  
  .cookedgridimg {
    max-width: 20vw;
    height: auto;
    margin-left: 1.0vw;
    margin-top: 5vw;
  }
  
  .veggridimg {
    max-width: 25vw;
    height: auto;
    margin-left: 1.0vw;
    margin-top: 5vw;
  }
  
  .rawgridimg {
    max-width: 20vw;
    height: auto;
    margin-left: 0vw;
    margin-top: 5vw;
  }
  
  .bevgridimg:hover , .cookedgridimg:hover, .veggridimg:hover, .rawgridimg:hover {
    transition :transform .2s;
    transform: scale(1.1);
    cursor: pointer;
  }
 
  .product1:hover, .product2:hover, .product3:hover, .product4:hover{
    font-size: 5vw;
    text-shadow:2px 2px 5px black;

  }

  .product1  p,.product2 p,.product3 p,.product4 p{
    display:block;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2vw;
    font-weight: 600;
    display:flex;
    justify-content: space-evenly;
  }
  
#bevP{
  margin-top:2.7vw;
}

#rawP{
  margin-top:1.8vw;
}
#vegP{
  margin-top:4vw;
}
  