*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

@keyframes lefts{
    from{transform:translateX(15%);}
    to{transform:translateX(0);}
}

.containerR{
    height:100%;
    background-image: url("../image/registerbground.jpg");
    background-repeat: no-repeat;
    background-position:0px;
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

table{
    background-color:transparent;
    backdrop-filter: blur(50px);
    width:50%;
    border:3px solid black;
    border-radius: 30px;
}

table:hover{
    box-shadow:0 0 10px rgb(2, 28, 20) ;
}

#theader{
    text-shadow:0 0 15px rgb(39, 57, 52) ;
    color:white;
    height:6vw;
    width:60%;
    font-size: 2.8vw;
    
}

td{
    height:6.5vw;
}

.inputbox{
    text-align: center;
}

.inputbox input{
    padding-left:10px;
    border:none;
    outline: none;
    border:2px solid rgb(2, 28, 20);
    border-radius: 20px;
    background: transparent;
    width:90%;
    height:40px;
    color:white;
}

.inputbox input::placeholder{
    color:white;
}

.inputbox label{
    animation:lefts 2s;
    font-weight: bold;
    display:block;
    color:white;
    text-shadow:0 0 10px rgb(29, 37, 35) ;
    font-size:1.2vw;
    padding-right:19.5vw;
    padding-bottom: -1vw;
    margin-bottom:10px;
}

.inputbox #labelong{
    font-weight: bold;
    display:block;
    color:white;
    font-size:1.2vw;
    padding-right: 14vw;
    padding-bottom: -1vw;
    margin-bottom:10px;
}

.inputbox #shortlabel{
    padding-right: 21vw;
}

#buttonContainer{
    display:flex;
    justify-content: center;
}

.registerButton{
    color: white;
    text-shadow: 2px -2px 4px rgb(77, 0, 153);
    font-size: 20px;
    font-weight: bold;
    margin-top: 2vw;
    border: 2px rgb(166, 77, 255);
    background: rgb(147 87 190);
    border-style: outset;
    border-radius: 40px;
    width:90%;
    height:40px;
}

.registerButton:hover{
    box-shadow: 0 0 10px rgb(77, 0, 153);
    scale:1.05;
    cursor:pointer;
}

.sideDeco{
    border-left:2px solid black;
    width:35%;
    font-size:50px;
    font-weight:bold;
    color:white;
    text-align: center;
    text-shadow:2px 3px 15px rgb(0, 0, 0) ;
}